<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Encoded url:</strong>
  <%= @url.encoded_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
